body {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  background: #f4f4f4;
}

h1 {
  color: darkblue;
}

#resultat {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.flaggkort {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  width: 180px;
  cursor: pointer;
}

.flaggkort img {
  width: 100%;
  border-radius: 4px;
}

.info {
  margin-top: 8px;
  display: none; 
}
